body {
    background-image: url(../images/rps.png)
}

#navbar1 {
    background-color: rgb(68,119,136);
    border: solid 2px rgb(68,119,136);
    font-weight: heavy;
    margin-bottom: 1rem;
}

.btn {
    padding: 1rem 1.5rem;
    margin: 1rem;
}